@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --color-primary-red:  hsl(12, 88%, 59%);
    --color-primary-blue: hsl(228, 39%, 23%);
    --color-dark-gray: hsl(227, 12%, 61%);
    --color-secondary-blue: hsl(233, 12%, 13%);
    --color-secondary-red: hsl(13, 44%, 81%);
    --color-light-gray: hsl(0, 0%, 98%);

}

html {
    font-size: 50%;
}

body {
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 400;
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
}

.center-object {
    justify-content: center;
    align-items: center;
}

.cta-link {
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(242, 95, 58, .3);
    padding: 1.5rem 3rem; 
    color: var(--color-light-gray);
    background-color: var(--color-primary-red);
    font-size: 1.5rem;
    text-transform: capitalize;
    border: none;
}

.cta-link:hover {
    opacity: .8;
}

.heading {
    padding: 5rem 2.5rem;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}

.header-cta-link {
    display: none;
}

.heading-image {
    position: absolute;
    top: -30px;
    right: -50px;
    z-index: 1;
    width: 350px;
    height: 350px;
}

.heading-image2 {
    position: absolute;
    bottom: 0;
    right: -150px;
    z-index: 1;
    width: 300px;
    height: 300px;
}

.heading-image img,
.heading-image2 img,
.services-bg img,
.heading .logo-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.heading .logo-container {
    width: 12rem;
}

.heading .navigation {
    background-color: var(--color-light-gray);
    position: absolute;
    width: 85%;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5rem 4rem;
    flex-direction: column;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    transition: all .3s ease;

}

.heading .navigation.active {
    opacity: 1;
    left: 40%;
    width: 70%;
    visibility: visible;
}

.heading .navigation .navigation-links {
    display: block;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    color: var(--color-primary-blue);
}

.heading .navigation .navigation-links:hover  {
    color: var(--color-dark-gray)
}

.heading .navigation .navigation-links:not(:first-child) {
    margin-top: 2.5rem;
}


.heading .navigation-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4rem 2rem 0 0;
    width: 40px;
    height: 40px;
    z-index: 1000;
    cursor: pointer;
    transition: all .3s ease;
}

.heading .navigation-toggle.close {
    left: 68%;
}

.heading .navigation-toggle img {
    display: block;
}

.heading-intro {
    position: relative;
    width: 100%;
    z-index: 10;
    flex-wrap: wrap;
}

.heading-intro.active .into-details {
    width: 70%;
}

.heading-intro header{
    padding: 4rem 0 .8rem 0;
}

.heading-intro header h2,
.services h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-primary-blue);
}

.heading-intro-desc {
    padding: 0 3.5rem;
}

.heading-intro-desc p {
    font-size: 2rem;
    line-height: 2;
    color: var(--color-dark-gray);
}

.heading-intro .link {
    margin: 4rem 0;
}

.heading-intro-img-box {
    margin-top: 5rem;
    order: -1;
    flex: 0 0 100%;
    max-width: 100%;
}

.heading-intro.active .heading-intro-img-box {
    max-width: 70%;
}

.heading-intro-img-box img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*
****About section
*/

.homepage {
    margin-top: 2rem;
    width: 100%;
    min-height: 100vh;
}

.homepage .about .main-header {
    padding: 0 5rem;
}

.homepage .about h3,
.section-slider .slide-title h4 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-primary-blue);
}

.about-desc {
    margin: 2rem 0;
    padding: 0 3.5rem;
}

.about-desc p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--color-dark-gray);
}

.about-more-details {
    margin-bottom: 4rem;
}

.about-more-details header {
    margin: 4rem 0 2rem 2rem;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    align-items: center;
    background-color: #FFF0EB;
}

.about-more-details header span {
    padding: 1rem 2rem;
    box-shadow: none;
}

.about-more-details header span:hover {
    opacity: 1;
}

.about-more-details header h4 {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.about-more-details p {
    margin: 0 2rem;
    font-size: 1.5rem;
    line-height: 2;
    color: var(--color-dark-gray);
}

.section-slider {
    position: relative;
    width: 100%;
    margin: 4rem 0;
}

.slider-bg-image {
    display: none;
}

.section-slider .slide-title {
    padding: 0 2rem;
}

.section-slider .slide-title h4 {
    font-size: 4rem;
}

.section-slider .slider-container {
    margin-top: 8rem;
}

.slider-container .slides-box {
    padding: 4rem;
    position: relative;
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
    transition: all .3s ease-in;
    background-color: var(--color-light-gray);
}

.section-slider .slider {
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
    margin-top: -8rem;
}

.section-slider .slider.active {
    display: flex;
}

.section-slider .slider .slider-img-box {
    max-width: 30%;
}

.section-slider .slider .slider-img-box img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section-slider .slider h5 {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--color-primary-blue);
}

.section-slider .slider p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--color-dark-gray);
}

.section-slider .slider-controls {
    width: 100%;
    height: 40px;
    margin-top: 2rem;
}

.slider-controls div {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--color-primary-red);
    border-radius: 50%;
    margin: 0 .2rem;
    cursor: pointer;
}

.slider-controls div.active {
    background-color: var(--color-primary-red);
}

.section-slider .link {
    margin-top: 5rem;
}

.services {
    position: relative;
    width: 100%;
    padding: 8rem 2rem;
    background-color: var(--color-primary-red);
    text-align: center;
}

.services header {
    padding: 2rem;
}

.services .services-bg {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 90px;
    height: 90px;
}

.services .desktop-bg {
    display: none;
}

.services h2 {
    color: var(--color-light-gray);
}

.services .link {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.services .cta-link {
    background-color: var(--color-light-gray);
    color: var(--color-primary-red);
}

.main-footer {
    width: 100%;
    padding: 4rem 2rem;
    background-color: var(--color-secondary-blue);
    overflow-x: hidden;
}

.main-footer form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-footer .email-input {
    flex: 1;
    position: relative;
}

.email-input .validation-error {
    position: absolute;
    left: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--color-primary-red);
}

.main-footer input {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: inherit;
    border: none;
    line-height: 1.5;
    border-radius: 30px;
    color: var(--color-primary-red);
}

.main-footer input.error {
    border: 1px solid var(--color-primary-red);
}

.main-footer input::placeholder {
    color: var(--color-dark-gray);
    font-weight: 400;
    text-transform: capitalize;
}

.main-footer input:focus {
    outline: none;
}

.main-footer button {
    margin-left: 1rem;
    box-shadow: none;
    cursor: pointer;
}

.main-footer button:hover {
    opacity: .6;
}

.main-footer .footer-nav {
    margin: 2rem 0;
    width: 100%;
    align-items: flex-start;
}

.footer-nav ul {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 3rem;
}

.footer-nav ul .nav-items .nav-links {
    display: block;
    font-size: 1.5rem;
    color: var(--color-light-gray);
    padding: 1rem 0;
    text-transform: capitalize;
    line-height: 1.5;
    letter-spacing: .1rem;
}

.footer-nav ul .nav-links:hover {
    color: var(--color-primary-red);
}

.main-footer .social-links {
    width: 100%;
    justify-content: space-between;
    margin-top: -3rem;
}

.social-links a {
    display: block;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 2rem;
    
}

.social-links a:hover svg path {
    fill: var(--color-primary-red);
}

.social-links a svg path {
    fill: var(--color-light-gray);
}

.social-links svg {
    display: block;
    width: 7rem;
    height: 7rem;
    object-fit: cover; 
}

.main-footer .logo-container {
    margin: 4rem 0;
}

.copyright {
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;
}

.copyright,
.copyright p {
    font-size: 1.5rem;
    color: var(--color-dark-gray);
}

.copyright p {
    margin: 1rem 0;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(227, 12%, 61%, .2);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.overlay.active {
    z-index: 99;
    opacity: 1;
    visibility: visible;
}


@media screen and (min-width: 1000px) {
    html {
        font-size: 62.5%;
    }

    .heading {
        padding: 5rem 4rem 3rem 10rem;
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .heading .logo-container {
        margin-top: 1rem;
        flex: 0 0 10%;
        max-width: 10%;
    }
    
    .heading .navigation {
        flex: 0 0 74%;
        max-width: 74%;
        background-color:transparent;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        padding: 0;
        flex-direction: row;
        z-index: 10;
        opacity: 1;
        visibility: visible;
        border-radius: 0;
    
    }
    
    .heading .navigation .navigation-links {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .heading .navigation .navigation-links:not(:first-child) {
        margin-top: 0;
        margin-left: 4rem;
    }
    
    .heading .navigation-toggle img {
        display: none;
    }

    .header-cta-link {
        display: block;
        z-index: 2;
        flex: 0 0 16%;
        max-width: 16%;
    }

    .header-cta-link .cta-link {
        font-size: 1.5rem;
        display: block;
        text-align: center;
    }

    .heading-image {
        position: absolute;
        top: -300px;
        right: -400px;
        z-index: 1;
        width: 900px;
        height: 1000px;
    }
    
    .heading-image2 {
        display: none;
    }

    .heading-intro {
        position: relative;
        width: 100%;
        z-index: 10;
        flex-wrap: wrap;
        margin-top: 4rem;
    }
    
    .heading-intro header{
        padding: 4rem 0;
    }
    
    .heading-intro header h2,
    .services h2 {
        text-align: left;
        font-size: 5rem;
    }
    
    .heading-intro-desc {
        padding: 0;
    }
    
    .heading-intro-desc p {
        font-size: 2rem;
        line-height: 2;
        width: 70%;
        color: var(--color-dark-gray);
    }
    
    .heading-intro .link {
        margin: 4rem 0;
    }

    .heading-intro .into-details {
        flex: 0 0 45%;
        max-width: 45%;
    }
    
    .heading-intro-img-box {
        margin-top: 5rem;
        order: 0;
        flex: 0 0 45%;
        max-width: 45%;
        margin-left: auto;
    }

    .heading-intro-desc .link {
        display: block;
    }

    .homepage {
        position: relative;
    }

    .homepage .about{
        display: flex;
        padding: 5rem 4rem 3rem 10rem;
    }

    .homepage .about .main-header {
        padding: 0;
    }

    .homepage .about .main-header h3 {
        text-align: left;
    }

    .about-desc {
        padding: 0;
        width: 70%;
    }
    

    .about .about-intro {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .about .about-more-details {
        flex: 0 0 40%;
        max-width: 40%;
        margin-left: auto;
    }

    .about-more-details header {
        background-color: transparent;
        margin-top: 0;
    }

    .about-more-details header:not(:first-child) {
        margin-top: 4rem;
    }

    .about-more-details header span {
        display: block;
        margin-left: -9rem;
        margin-right: 2rem;
    }

    .section-slider {
        position: relative;
        z-index: 1;
        margin: 6rem 0;
    }
    
    .section-slider .slider-container {
        margin-top: 14rem;
    }
    
    .slider-container .slides-box {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        background-color: transparent;
    }
    
    .section-slider .slider {
        flex: 0 0 25%;
        max-width: 25%;
        display: flex;
        margin-top: -8rem;
        background-color: var(--color-light-gray);
        padding: 0 2rem;
    }

    .section-slider .slider:not(:last-child) {
        margin-right: 2rem;
    }
    
    .section-slider .slider.active {
        display: flex;
    }
    
    .section-slider .slider .slider-img-box {
        margin-top: -4rem;
    }
    
    .section-slider .slider p {
        text-align: center;
    }
    
    .section-slider .slider-controls {
        display: none;
    }
    
    .section-slider .link {
        margin-top: 5rem;
    }

    .slider-bg-image {
        display: block;
        position: absolute;
        top: 350px;
        left: -500px;
        width: 800px;
    }
    
    .slider-bg-image img{
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .services {
        display: flex;
        padding: 3rem 2rem 3rem 16rem;
        overflow: hidden;
    }

    .services header {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        z-index: 1;
    }

    .services header h2 {
        font-size: 4rem;
    }

    .services .link {
        flex: 0 0 20%;
        max-width: 20%;
        margin-left: auto;
        position: relative;
        z-index: 1;
    }
    
    .services .services-bg {
        display: none;
    }
    
    .services .desktop-bg {
        display: block;
        position: absolute;
        top: -50%;
        left: 25%;
        width: 1320px;
    }

    .main-footer {
        padding: 8rem 8rem 0 16rem;
        display: flex;
        flex-wrap: wrap;
    }

    .main-footer .logo-container {
        display: block;
        flex: 0 0 20%;
        max-width: 20%;
        order: -2;
        margin: 0;
    }

    .main-footer .logo-container img {
        display: block;
    }
    
    .main-footer .footer-nav {
        flex: 0 0 50%;
        max-width: 50%;
        order: -1;
        margin-top: 0;
    }

    .main-footer .footer-nav ul {
        padding-top: 0;
    }

    .subscription {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .main-footer .social-links {
        flex: 0 0 15%;
        max-width: 15%;
    }

    .main-footer .social-links a {
        padding: 0;
    }

    .main-footer .social-links svg {
        margin-top: -5rem;
        width: 4rem;
        height: 4rem;
    }

    .main-footer .copyright {
        flex: 0 0 30%;
        max-width: 30%;
        margin-left: auto;
        margin-top: -12rem;
    }

}

@media screen and (min-width: 500px){
    .heading .navigation.active {
        left: 50%;
        width: 85%;
    }
    
    
    .heading .navigation-toggle.close {
        left: 90%;
    }

    .heading-intro.active .into-details {
        width: 100%;
    }

    .heading-intro.active .heading-intro-img-box {
        max-width: 100%;
    }
}

/* @media screen and (max-width: 320px) {
    .heading .navigation.active {
        left: 33%;
        max-width: 60%;
    }

    .heading .heading-image {
        right: -85px;
        top: -40px;
    }
    
    
    .heading .navigation-toggle.close {
        left: 55%;
    }

    .heading-intro.active .into-details {
        max-width: 65%;
    }

    .heading-intro.active .heading-intro-img-box {
        max-width: 65%;
    }
} */
